node_red_flows.json
[{"id":"654abfa0.81831","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"395c377f.2ac62","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"3b7a293f.4fa6ae","type":"ui_group","z":"","name":"Reg form","tab":"395c377f.2ac62","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1edd6cb.043f68","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"e37376f6.a71cb","type":"ui_group","z":"","name":"Login Page","tab":"b1edd6cb.043f68","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9afd4dc.f0d63","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ecadf8d.512948","type":"ui_tab","z":"","name":"Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"7fb37dd4.c5767c","type":"ui_group","z":"","name":"Customer Help","tab":"3ecadf8d.512948","order":1,"disp":true,"width":"6","collapse":false},{"id":"48ba6de4.faf5bc","type":"ui_form","z":"654abfa0.81831","name":"","label":"","group":"3b7a293f.4fa6ae","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email-ID","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":120,"wires":[["9a1c86d2.45b578","daa6e3ea.24ccd"]]},{"id":"9a1c86d2.45b578","type":"debug","z":"654abfa0.81831","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":60,"wires":[]},{"id":"daa6e3ea.24ccd","type":"function","z":"654abfa0.81831","name":"","func":"msg.payload = {\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["5686af1c.717048"]]},{"id":"5686af1c.717048","type":"cloudant out","z":"654abfa0.81831","name":"","cloudant":"","database":"sample","service":"node-red-fjhgo-2020--cloudant-1597403197303-7241","payonly":true,"operation":"insert","x":500,"y":180,"wires":[]},{"id":"b289bcfc.439c8","type":"ui_form","z":"654abfa0.81831","name":"","label":"","group":"e37376f6.a71cb","order":0,"width":0,"height":0,"options":[{"label":"Enter Email-ID","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":280,"wires":[["b471ee62.1bf5c"]]},{"id":"b471ee62.1bf5c","type":"function","z":"654abfa0.81831","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":280,"wires":[["6e4feb4.72a2d94"]]},{"id":"6e4feb4.72a2d94","type":"function","z":"654abfa0.81831","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["da605a86.2ba708"]]},{"id":"da605a86.2ba708","type":"cloudant in","z":"654abfa0.81831","name":"","cloudant":"","database":"sample","service":"node-red-fjhgo-2020--cloudant-1597403197303-7241","search":"_idx_","design":"user","index":"user","x":520,"y":280,"wires":[["7d8ef7bf.0c93c8"]]},{"id":"7d8ef7bf.0c93c8","type":"function","z":"654abfa0.81831","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["908c23d5.fd12"]]},{"id":"908c23d5.fd12","type":"ui_text","z":"654abfa0.81831","group":"e37376f6.a71cb","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":280,"wires":[]},{"id":"6613ed82.af3234","type":"ui_form","z":"654abfa0.81831","name":"","label":"","group":"7fb37dd4.c5767c","order":0,"width":0,"height":0,"options":[{"label":"input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["4c82f041.57ccd8"]]},{"id":"4c82f041.57ccd8","type":"function","z":"654abfa0.81831","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":360,"wires":[["ed17e204.c8675"]]},{"id":"ed17e204.c8675","type":"watson-conversation-v1","z":"654abfa0.81831","name":"chat","workspaceid":"bfbc52bc-6361-4fe4-8909-661dc7a938ce","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7c0b4947-b900-468f-9101-6c7c8f4e9788","timeout":"","optout-learning":false,"x":370,"y":360,"wires":[["150e4db7.ab6582","f930859b.92481"]]},{"id":"150e4db7.ab6582","type":"debug","z":"654abfa0.81831","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]},{"id":"f930859b.92481","type":"function","z":"654abfa0.81831","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":400,"wires":[["105a6550.ca7593","cfd739af.865018"]]},{"id":"105a6550.ca7593","type":"ui_text","z":"654abfa0.81831","group":"7fb37dd4.c5767c","order":1,"width":"6","height":"7","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":400,"wires":[]},{"id":"cfd739af.865018","type":"ui_audio","z":"654abfa0.81831","name":"","group":"7fb37dd4.c5767c","voice":"","always":"","x":660,"y":440,"wires":[]}]